{% extends "base.html" %}

{% block title %}{{ SITENAME }}{%endblock%}

{% block bodyclass %}activities{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>
    {{ page.content }}
    <p><a href="{{ SITEURL }}/"><strong>← Back</strong></a></p>
{% endblock %}

{% block sidebar %}
  <h2>Latest activities</h2>
  {% for activity in categories|get_category_articles('activities') %}
    <details>
      <summary>
        <h3>{{ activity.title }}</h3>
        <dl>
          {{ activity.date|display_if_set('date')}}
          {{ activity.location|display_if_set('Location')}}
        </dl>
      </summary>
      {{ activity.content }}
    </details>
  {% endfor %}
{% endblock %}