{% extends "base--wide.html" %}

{% block styles %}<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/styles/styles--algoliterary-works.css" />{% endblock styles %}

{% block title %}{{ SITENAME }}{%endblock%}

{% block bodyclass %}algoliterary-works{% endblock %}

{% block content %}
  {% with grouped_works=categories|get_category_articles('algoliterary-works')|groupby('type', default='algorithmic book') %}
    <section class="page-introduction--wide">
      <h1>{{ page.title }}</h1>
      <section class="page-introduction--description">
        {{ page.content }}
        {% for group, _ in grouped_works %}
          <a href="#{{ group|slugify }}">{{ group }}s</a>
        {% endfor %}
      </section>
    </section>
    {% for grouper, articles in grouped_works %}
      <section>
        <h2 class="list--grouper" id="{{ grouper|slugify }}">{{ grouper }}s</h2>
        {% for article in articles %}
          {% include "snippets/algoliterary-work--preview.html" %}
        {% endfor %}
      </section>
    {% endfor %}
  {% endwith %}
{% endblock %}