{% extends "base.html" %}

{% block title %}{{ SITENAME }}{%endblock%}

{% block bodyclass %}activities{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>
    {{ page.content }}
    <p><a href="{{ SITEURL }}/"><strong>← Back</strong></a></p>
{% endblock %}

{% block sidebar %}
  <h2>Oracle stories</h2>
  {% for story in categories|get_category_articles('oracle-stories') %}
    <details>
      <summary>
        <h3>{{ story.title }}</h3>
        <dl>
          {{ story.cards|display_if_set('Cards')}}
        </dl>
      </summary>
      {{ story.content }}
    </details>
  {% endfor %}
{% endblock %}