{% extends "base--wide.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}
{% block styles %}<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/styles/styles--page.css" />{% endblock styles %}
{% block title %}{{ SITENAME }} - {{ page.title|striptags }}{%endblock%}

{% block bodyclass %}{{ page.slug }}{% endblock %}

{% block content %}
<article class="page">
    <h1>{{ page.title }}</h1>
    <section class="content">
        {{ page.content }}
        <!-- <p><a href="{{ SITEURL }}/"><strong>← Back</strong></a></p> -->
    </section>
</article>

{% endblock %}
