{% extends "base.html" %}

{% block title %}{{ SITENAME }}{%endblock%}

{% block bodyclass %}research{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>
    {{ page.content }}
{% endblock %}

{% block sidebar %}
  <h2>Research axes</h2>
  {% for article in categories|get_category_articles('research-axes')|sort(attribute="sort") %}
    <details>
      <summary>
        <h3>{{ article.title }}</h3>
      </summary>
      {{ article.content }}
    </details>
  {% endfor %}
{% endblock %}