@import url("base--wide.css");

.page-introduction--wide {
  display: grid;
  grid-template-columns: var(--grid-columns);
  grid-column-gap: calc(2 * var(--line-height));
  align-items: start;
  margin: calc(2 * var(--line-height)) 0 calc(3 * var(--line-height)) 0;
}

.page-introduction--description {
  grid-column-end: span 2;
}

.list--grouper {
  margin-top: var(--line-height);
  margin-bottom: calc(2 * var(--line-height));
  position: sticky;
  z-index: 1;
  top: 0;
}

.algoliterary-work--preview {
  display: grid;
  grid-template-columns: var(--grid-columns);
  grid-template-rows: [start] min-content min-content 1fr [end];
  grid-column-gap: calc(2 * var(--line-height));
  align-items: start;
  padding: 0 0 var(--line-height) 0;
  margin-bottom: var(--line-height);
  border-bottom: 1px solid black;
}

.algoliterary-work--preview .type {
  grid-column: 1;
  grid-row: 1;
}

.algoliterary-work--preview .title {
  grid-column: 1;
  grid-row: 2;
}

.algoliterary-work--preview .illustration {
  grid-column: 1;
  grid-row: 3;
  max-width: 80%;
  width: 80%;
  aspect-ratio: 1;
  object-fit: contain;
  object-position: top left;
  margin: var(--line-height) 0 0 0;
}

.algoliterary-work--preview .properties {
  grid-column: 3;
  grid-row: start/end;
  row-gap: calc(.25 * var(--line-height));
  margin-top: 0;
}

.algoliterary-work--preview .properties p {
  margin-bottom: 0;
}

.algoliterary-work--preview .properties a {
  word-break: break-all;
}

.algoliterary-work--preview .summary {
  grid-column: 2;
  grid-row: start/end;
}

.algoliterary-work--preview .publication-links {
  margin-top: var(--line-height);
} 

@media screen and (max-width: 1200px) {
  :root {
    --grid-columns: 200px repeat(2, 1fr);
  }
}

@media screen and (max-width: 900px) {
  :root {
    --grid-columns: 150px 1fr;
  }

  .page-introduction--description {
    grid-column-end: initial;
  }

  .algoliterary-work--preview .type {
    grid-column: 2;
    grid-row: 1;
  }

  .algoliterary-work--preview .title {
    grid-column: 2;
    grid-row: 2;
    margin-bottom: var(--line-height);
  }

  .algoliterary-work--preview .illustration {
    grid-column: 1;
    grid-row: start / end;
    margin-top: 0;
  }


  .algoliterary-work--preview .summary {
    grid-column: 2;
    grid-row: 3;
  }

  .algoliterary-work--preview .properties {
    grid-column: 2;
    grid-row: 4;
  }

  dl {
    margin-left: -15ch;
  }
}

@media screen and (max-width: 600px) {
  dl {
    margin-left: 0;
  }

  :root {
    --grid-columns: 100px 1fr;
  }

  .page-introduction--wide h1,
  .page-introduction--description {
    grid-column-end: span 2;
  }

  .algoliterary-work--preview {
    column-gap: var(--line-height);
  }

  .algoliterary-work--preview .illustration {
    max-width: 100%;
    width: 100%;
  }
}