@import url("base--wide.css");

.page {
  display: grid;
  grid-template-columns: var(--grid-columns);
  margin: calc(2 * var(--line-height)) 0 calc(3 * var(--line-height)) 0;
  column-gap: calc(2 * var(--line-height));
  align-items: start;
}

h1 {
  grid-column: 1;
  position: sticky;
  top: var(--line-height);
}

h2 {
  margin-top: calc(2 * var(--line-height));
  margin-bottom: var(--line-height);
}

h3 {
  margin-top: var(--line-height);
}

.content {
  grid-column: 2;
}



@media screen and (max-width: 800px) {
  .page {
    display: block;
  }
}