@import url("base--wide.css");

.algoliterary-work--article {
  display: grid;
  grid-template-columns: var(--grid-columns);
  grid-template-rows: repeat(4, min-content);
  align-items: start;
  grid-column-gap: calc(2 * var(--line-height));
  grid-row-gap: var(--line-height);
  margin: calc(2 * var(--line-height)) 0 calc(3 * var(--line-height)) 0;
}

.title {
  grid-column: 2;
}

.content {
  grid-column: 2;
  grid-row: 2;
}

.illustrations {
  grid-column: 1;
  grid-row: 2;
}

.illustration {
  margin: 0;
  max-width: 95%;
}

.metadata {
  grid-column: 3;
  grid-row: 2;
  display: grid;
  grid-row-gap: var(--line-height);
}

.properties {
  margin-top: 0;
}

@media screen and (max-width: 800px) {
  .algoliterary-work--article {
    display: block;
  }

  .illustrations {
    max-width: 40%;
    float: left;
    margin-right: calc(.5 * var(--line-height));
  }
}