{% block styles %}
<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/styles/styles--algoliterary-works--article.css" />
{% endblock styles %}
<section class="algoliterary-work--article">
  <h1 class="title">{{ article.title }}</h1>
  {% if article.image %}
  <aside class="illustrations">
    <img class="illustration" src="{{ SITEURL }}/images/{{ article.image }}">
  </aside>
  {% endif %}
  <section class="content">
    {{ article.content }}
  </section>
  <aside class="metadata">
    {% if article.publication_url or article.links %}
      <ul class="links">
      {% if article.publication_url %}
        <li class="read-online-link"><a href="{{ article.publication_url }}">Read the book online ⤤</a></li>
      {% endif %}
      {% if article.links %}
        {% if article.links is sequence and not article.links is string %}
          {% for link in article.links %}
            <li class="read-online-link">{{ link|markdown_filter|unwrap_p }}</li>
          {% endfor %}
        {% else %}
          <li class="read-online-link">{{ article.links|markdown_filter|unwrap_p }}</li>
        {% endif %}
      {% endif %}
      </ul>
    {% endif %}
    <dl class="properties">
      {{ article.algorithm|display_if_set('Algorithm')}}
      {{ article.trees|display_if_set('Trees')}}  
      {{ article.humans|display_if_set('Humans')}}
      {{ article.language|display_if_set('Language')}}
      {{ article.type|display_if_set('Type')}}
      {{ article.published|display_if_set('Published')}}
      {{ article.picture|display_if_set('Pictures')}}
      {{ article.license|display_if_set('License')}}
      {{ article.publication_url|display_if_set('URL')}}
      {{ article.repository|display_if_set('Repository')}}
      {{ article.support|display_if_set('With the support of')}}
      {{ article.thanks|display_if_set('Thanks to')}}
    </dl>
  </aside>
</section>