<section class="algoliterary-work--preview">
  <h3 class="title"><a href="{{ article.url }}">{{ article.title }}</a></h3>
  <section class="summary">
    {{ article.summary }}
    <a href="{{ article.url }}">Read more…</a>
    <ul class="publication-links">
    {% if article.publication_url %}
      <li class="read-online-link"><a href="{{ article.publication_url }}">Read the book online ⤤</a></li>
    {% endif %}
    {% if article.links %}
      {% if article.links is sequence and not article.links is string %}
        {% for link in article.links %}
          <li class="read-online-link">{{ link|markdown_filter|unwrap_p }}</li>
        {% endfor %}
      {% else %}
        <li class="read-online-link">{{ article.links|markdown_filter|unwrap_p }}</li>
      {% endif %}
    {% endif %}
    </ul>
  </section>
  {% if article.image %}
  <img class="illustration" src="{{ SITEURL }}/images/{{ article.image }}">
  {% endif %}
  <dl class="properties">
    {{ article.algorithm|display_if_set('Algorithm')}}
    {{ article.trees|display_if_set('Trees')}}  
    {{ article.humans|display_if_set('Humans')}}
    {{ article.language|display_if_set('Language')}}
    {{ article.type|display_if_set('Type')}}
    {{ article.published|display_if_set('Published')}}
    {{ article.picture|display_if_set('Pictures')}}
    {{ article.license|display_if_set('License')}}
    {{ article.publication_url|display_if_set('URL')}}
    {{ article.repository|display_if_set('Repository')}}
    {{ article.support|display_if_set('With the support of')}}
    {{ article.thanks|display_if_set('Thanks to')}}
  </dl>
</section>